.thumbnail {
  border-bottom: 2px solid #e6e6e6;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.thumbnail-header {
  cursor: pointer;
}
.thumbnail-meta {
  display: flex;
}
.thumbnail-date {
  margin-right: 1rem;
}
.thumbnail-tag {
  cursor: pointer;
}
.thumbnail-tag:hover {
  color: red;
}
